[Desktop Entry]
Type=Application
Exec=/home/[USER_NAME]/offset-printing-machine-simulator-application/modbus-application/out/modbus-application
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Modbus Application
Comment=Yello!
